# Archivos prohibidos por peso
*.zip
*.deb
*.rar
Turnify.Api.zip
dbeaver.deb

# Carpetas de basura de compilación
bin/
obj/
node_modules/

# Archivos de base de datos pesados
sql_data/
*.mdf
*.ldf
Turnify.Api/dataprotection-keys/
Turnify.Api/import openpyxl.txt
